@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");

.footerContainer {
  display: flex;
  justify-content: center;
  height: 14vh;
  overflow: hidden;
  background-color: var(--desktop-footer-background-color);
  border-top: solid 1px var(--desktop-footer-border-color);
}

.footer {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../images/crocodile-skin.png"); */
}

.footerText {
  color: var(--desktop-footer-text-color);
  text-align: start;
}

.footerLink{
  color: var(--desktop-footer-link-color);
}

.footerLink:hover{
  color: var(--desktop-footer-link-hover-color);
} 