.container
{
    background-color: rgb(0, 0, 0);
    font-family: "CrocodileFont";
    position:fixed;
    bottom:0;
    width: 100%;
}

.mobileNavLinks{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    justify-content: space-evenly;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 10px;
}

.navIcons{
    width: 24px;
    padding: 10px;
}

a{color: white;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }