.footerContainer
{
    text-align: center;
    flex-shrink: 0;
    position:fixed;
    bottom:0;
    width: 100%;
}

.footer
{
    background-color: rgb(33, 36, 33);
    padding: 1vh;
}

.footerText{
    color: white;
}