.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    position: fixed;
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.container2
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    position: fixed;
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: rgba(219, 25, 25, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.content{
    color: blue;
    
}