body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* button, input {
    font-family: inherit;
  }
  
  label {
    margin-right: 1rem;
  }
  
  input {
    font-family: inherit;
    height: 1.5rem;
    width: 4rem;
    margin-right: 3px;
  }
  
  label span {
    margin-right: 4px;
  }
  
  .examples {
    padding: 2rem 0;
  } */

  
  .Splide {
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
  }
  
   

  .splide__track   {
    width: 100%;
    text-align: center;
    font-size: 110%;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
  }
  .splide__track h2 {
    font-size: 100%;
    font-style: italic;
    line-height: 1px;
  }

/*   
  .splide__track h2 {
    font-size: 20px;
    font-style: italic;
    line-height: 5px;
  }
  
  .splide__slide {
    padding-top: 8px; 
  }
  
  .splide__slide img {
    width: 75%;
    height: 50%;
    object-fit: cover;
    align-items: center;
    transform: scale(1.0);
    border-radius: 15em;
  } */

  